<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Házi Mozi</title>
    <link rel="stylesheet" href="/css/alap_style.css">
    <link rel="stylesheet" href="/css/film.css">
    <link rel="icon" href="img/popcorn.png">
</head>
<body>
    <header>

        <a href="/"><span>Házi Mozi</span></a>
        <span> Film címe </span>
        <!-- Profil -->
        <div class="dropdown">
            <img src="img/user.png" alt="user">
            <div class="dropdown-content">
                <a href="/profil">Profil</a>
                <a href="/login">Bejelentkezés</a>
                <a href="/regisztracio">Regisztráció</a>
            </div>
        </div>
        <!-- Szures -->
        <a href="/szures"><img src="img/search.png" alt="search"></a>
        <!-- Megnezendok -->
        <a id="eye" href="/megnezendo"><img src="img/szem.png" alt="szem"></a>
        <a id="eye_closed" href="/megnezendo"><img src="img/csukva.png" alt="csukott_szem"></a>
        <script>
            document.getElementById("eye_closed").hidden = true;
            document.getElementById("eye").onmouseenter = function() {

                document.getElementById("eye").hidden = true;
                document.getElementById("eye_closed").hidden = false;
            }
            document.getElementById("eye_closed").onmouseleave = function (){
                document.getElementById("eye").hidden = false;
                document.getElementById("eye_closed").hidden = true;
            }
        </script>
        <script>
        let slideIndex = 1;
        

        // Next/previous controls
        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
        showSlides(slideIndex = n);
        }

        function showSlides(n) {
			let i;
			let slides = document.getElementsByClassName("mySlides");
		
			if (n > slides.length) {slideIndex = 1}
			if (n < 1) {slideIndex = slides.length}
			for (i = 0; i < slides.length; i++) {
				slides[i].style.display = "none";
			}
			slides[slideIndex-1].style.display = "block";
        }
        </script>

    </header>


<div style='display:flex;margin: 100px;'>
    <div class="mySlides">
       <img src="<%=filmadatok.kepUrl%>.jpg" style="width:100%">
    </div>


	<!-- Leírás stb. -->
	<div class="jobboldal">
		<h2 class="cim"><%=filmadatok.cim%></h2>
		<h3 class="alcim">Rendezők: </h3>
			<h4 class="rendezok"><% for (var i=0; i<rendezok.length; i++) {%><%=rendezok[i].szemelyNev%><% if(i!=rendezok.length-1) {%>, <%}%><%}%></h4>
		<h3 class="alcim">Színészek: </h3>
			<h4 class="szineszek"><% for (var i=0; i<szineszek.length; i++) {%><%=szineszek[i].szemelyNev%><% if(i!=szineszek.length-1) {%>, <%}%><%}%></h4>
		<br>
		<p class="leiras">
			<%=filmadatok.leiras%>
		</p>   
	</div>
</div>
<%
if(ertekeltemar){%>
	
<%
}
else{%>
<div class="ertekeles" id='ertekeles_dv' style='white-space: nowrap;display: inline;'>
    <img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
</div>
<%
}
%>


<!-- Kommentek -->
<div class="comment-box">
    <form action="/hozzaszol" method='post'>
        <textarea name='szoveg' placeholder="Írj egy kommentet!"></textarea><br>
		<input type='text' name='id' value='<%=filmadatok.filmId%>' style='height:0px;width:0px;display:none;'>
		<button type="submit">Küldés</button>
    </form>
</div>
<script>
var filmid=<%=filmadatok.filmId%>;
<%
if(!ertekeltemar){%>
	document.getElementsByTagName('body')[0].onload=function(){
		let asd=ertekeles_dv.getElementsByTagName('img');
		for(let i=0;i<asd.length;i++) {
			asd[i].onmouseenter=Function("csillag(this,1);");
			asd[i].onmouseleave=Function("csillag(this,0);");
			asd[i].onclick=Function("ertekel("+(i+1)+");");
		}
		showSlides(slideIndex);
	}
	function csillag(asd,kibe){
		let mire=kibe==0?'szurke':'sarga';
		let csill=ertekeles_dv.getElementsByTagName('img');
		let i=-1;
		do{
			if(!csill[++i].src.includes(mire)) csill[i].src="img/csillag_"+mire+".png";
		} while(csill[i]!=asd)
	}
	let ertekelve=false;
	function ertekel(asd){
		if(ertekelve) return;
		ertekelve=true;
		let xhr = new XMLHttpRequest();
		xhr.open('POST','/ertekel',true);
		xhr.setRequestHeader('Content-type','application/x-www-form-urlencoded');
		xhr.onload=function() {
			ertekeles_dv.innerHTML=this.responseText;
		}
		xhr.send('ertekel=;<%=felh_adatok.felhasznaloId%>'+filmid+';'+asd);
	}
<%}%>


</script>
</body>
</html>